
@{
    ViewBag.Title = "Employee Profile";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @section scripts
    {
        <script type="text/javascript" src="@Url.Content("~/Scripts/jsList.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jsChart.js")"></script>
        <link href="@Url.Content("~/Content/csProfile.css")" rel="stylesheet" />
    }




    <script type="text/javascript">
        $(document).ready(function () {
            var vStatus = true;
            $('#dataForm').jqxTabs({ theme: 'metro', width: '100%', height: 500 });
            $("#SubmitButton").jqxButton({ disabled: vStatus, theme: 'orange', width: 120, height: 40 });
            $('#address').jqxTextArea({ disabled: vStatus, placeHolder: "Address", width: '100%', height: 80 });
            $("#nationality").jqxDropDownList({ disabled: vStatus, source: countries, width: '100%', height: '25px' });
            $("#religion").jqxDropDownList({ disabled: vStatus, source: religion, width: '100%', height: '25px', autoDropDownHeight: true });
            $("#birthDate").jqxDateTimeInput({ disabled: vStatus, width: '100%', height: '35px' });
            $("#maleGender").jqxRadioButton({ disabled: vStatus, width: '100%' });
            $("#femaleGender").jqxRadioButton({ disabled: vStatus, width: '100%' });
            $("#province").jqxDropDownList({ disabled: vStatus, width: '100%', height: '25px', displayMember: "uidname", valueMember: "id" });
            $("#district").jqxDropDownList({ width: '100%', height: '25px', disabled: true, displayMember: "uidname", valueMember: "id" });
            $("#districts").jqxDropDownList({ width: '100%', height: '25px', disabled: true, displayMember: "uidname", valueMember: "id" });
            $("#subDistricts").jqxDropDownList({ width: '100%', height: '25px', disabled: true, displayMember: "uidname", valueMember: "id" });
            $("#education").jqxDropDownList({ disabled: vStatus, width: '100%', height: '25px', disabled: false, displayMember: "uidname", valueMember: "id" });
            $("#department").jqxDropDownList({ disabled: vStatus, width: '100%', height: '25px' });
            $("#division").jqxDropDownList({ disabled: vStatus, width: '100%', height: '25px' });
            $("#position").jqxDropDownList({ disabled: vStatus, width: '100%', height: '25px' });
            $("#status").jqxDropDownList({ disabled: vStatus, width: '100%', height: '25px', autoDropDownHeight: true });
            //$("#SubmitButton").jqxButton({ disabled: vStatus, theme: 'orange', width: 90, height: 30 });
            //$("#Cancel").jqxButton({ disabled: vStatus, theme: 'orange', width: 90, height: 30 });

        });

    </script>


</head>
<body>
    <h1 style="text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">EMPLOYEE PROFILE</h1>
    <h2 style="padding-left:30px; font-size:14px; font-family:Calibri">Employee Management</h2>
    <hr />

    <input type="submit" class="btn btn-default" value="Update" id='SubmitButton' />
    <hr />

    <div id="dataForm">
        <ul>
            <li>Profile</li>
            <li>Address</li>
            <li>Education</li>
            <li>Work</li>
        </ul>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--PROFILE-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nip">NIP</label>
                                <input type="text" class="form-control" id="nip" placeholder="NIP" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fullname">Fullname</label>
                                <input type="text" class="form-control" id="fullname" placeholder="Fullname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nickname">Nickname</label>
                                <input type="text" class="form-control" id="nickname" placeholder="Nickname">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthPlace">Birth Place</label>
                                <input type="text" class="form-control" id="birthPlace" placeholder="Birth Place">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthDate">Birth Date</label>
                                <div id='birthDate'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div id='maleGender'>
                                                Male
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div id='femaleGender'>
                                                Female
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nationality">Nationality</label>
                                <div id="nationality"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="religion">Religion</label>
                                <div id="religion"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone1">Phone #1</label>
                                <input type="text" class="form-control" id="phone1" placeholder="Phone #1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone2">Phone #2</label>
                                <input type="text" class="form-control" id="phone2" placeholder="Phone #2">
                            </div>
                        </div>
                    </div>
                </div>

                <!--EMPLOYEE STATUS-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Employee Status</label>
                                <div id='status'></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--ADDRESS-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea id="address"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="province">Province</label>
                                <div id='province'></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="district">District</label>
                                <div id="district"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="districts">Districts</label>
                                <div id="districts"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subDistricts">Sub-Districts</label>
                                <div id="subDistricts"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--EDUCATION-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="education">Education Level</label>
                                <div id='education'></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="eduMajor">Major</label>
                                <input type="text" class="form-control" id="eduMajor" placeholder="Major">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--JOB-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="department">Department</label>
                                <div id="department"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="division">Division</label>
                                <div id="division"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="position">Position</label>
                                <div id="position"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="officeLocation">Office Location</label>
                                <input type="text" class="form-control" id="officeLocation" placeholder="Office Location">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!--SUBMIT-->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1">

                </div>

            </div>
        </div>

    </div>

    <label style="font-size:12px; font-family:Calibri; color:indianred; margin-right:30px">
        Credential Info: @ViewBag.cUser : @ViewBag.cIDV : Parent= @ViewBag.cIDVParent , ParentLevel= @ViewBag.cIDVParentLevel , Name= @ViewBag.cName
    </label>

    <div id="form" style="margin-left: 30px; margin-top: 10px;"></div>
</body>
</html>



